/* YOUR STYLE GOES IN HERE */
.card {
  width: 250px;
  border: 3px;
  border-style: solid;
  border-color: #ffbfa9;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  /* now feel free to add css
 */
}
img {
  width: 200px;
  border-width: 6px;
  border-color: #fbffb1;
  border-style: solid;
  /* adjust border radius  */
  border-top-left-radius: 20%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 20%;
  background-color: #ffacac;
  /* now feel free to add css */
}
